*{
    margin: 0;
}
body{
    background-color: #1e3d32;
    color: #a7d7c5;
}

header{
background-color: #007444;
display: grid;
grid-template-columns: 40% 30% 30%;
justify-items: center;
    align-items: center;
}

section{
    display: grid;
    grid-template-columns: 50% 50%;
}

footer{
    background-color: #4a7c59;
}