.foto{
    width: 50%;
}

body{
    background-color: #9932CC;
    display: flex;
    margin: 12px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

div{
        margin: 20px;
    padding: 20px;
}